main{
    display: block;
    height: 100%;
    background: #f5f3eb;
    width: calc(100% - 300px);
}

main .main-content{
    padding: 30px;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
}

.main-content .panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px #ccc solid;
    margin: 10px 0;
}

.panel-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    padding: 10px;

}

.panel-50{
    width: 48%;
}

.panel-row button{
    height: 180px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    font-size: 22px;
    color: #ffff;
    transition: 0.2s;
}

.panel-row button svg{
    margin-bottom: 10px;
    font-size: 40px;
}

.panel-row button:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

#ajax-content{
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 20px;
    /* padding: 20px; */
    background: #fff;
    box-shadow: 0 0 2rem rgba(0,0,0, 0.2);
}

#ajax-content button{
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}


#ajax-content button:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

#ajax-content label{
    font-size: 14px;
    color: #72777a;
}

#ajax-content table svg{
  cursor: pointer;
  color: #72777a;
}

.dynamic-content{
    padding: 20px;
}

.main-content-title{
     padding: 5px 0;
}

.main-content-title h2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    color: #72777a;
}