.perfil-parent{

    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil{
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    max-width: 1300px;
    padding: 40px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.perfil-img{
    width: 40%;
}

.perfil-form{
width: 60%;
}

.perfil-form input, .perfil-form select{
 font-size: 14px;
 font-size: 14px;
 color: #72777a;
}

.perfil-form label{
    font-size: 14px;
    color: #72777a;
}

.perfil-form button{
    margin-top: 5px;
}

.perfil-form input .custom-file {
margin-top: 5px;
}

.img{
    height: 500px;
    width: 400px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    background-image: url(../images/img-perfil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    border: 1px solid #a777e3;
}

.perfil-form button{
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    color: #fff;
    box-sizing: border-box;
}

.perfil-form button:hover{
    color: #fff;
    transform: scale(1.05);
    transition: 400ms;
}
