/* INICIO CONTAINER REDES SOCIAIS */

.container-redes-sociais{
    display: grid;
    grid-template-columns: repeat(5, 80px);
    background: #000;
    justify-content: center;
    width: 100%;
    height: 70px;
    }
    
    .container-redes-sociais a{
        overflow: hidden;
        font-size: 38px;
        transition: .2s linear;
        
      }
      
      .container-redes-sociais a:hover{
        transform: scale(1.2);
      }
      .container-redes-sociais a i::before{
      
        text-align: center;
        background-size: 200% 200%;
        background-position: 75% 75%;
        top: 0;
        left: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background .1s linear;
      }
    
      .container-redes-sociais a:hover i::before{
        background-position: 0% 0%;
      }
      
      .fa-facebook-f::before{
        background-image: linear-gradient(135deg, #3b5998 50%, #fff 50%);
      }
      
      .fa-twitter::before{
        background-image: linear-gradient(135deg, #1da1f2 50%, #fff 50%);
      }
      .fa-instagram::before{
        background-image: linear-gradient(135deg, #c32aa3 50%, #fff 50%);
      }
      .fa-youtube::before{
        background-image: linear-gradient(135deg, #d71e18 50%, #fff 50%);
      }
      .fa-linkedin::before{
        background-image: linear-gradient(135deg, #007bb5 50%, #fff 50%);
      }
      
    /* FIM CONTAINER REDES SOCIAIS */
    