* {
    padding: 0;
    margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: #f5f5f5 !important;
    
}

.carousel-item img{
    height: 900px;
    width: 100%;
}
.faixa1{
  background: #636e72;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

.faixa2{
    background:  #636e72;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.faixa2 p{
    padding: 30px;
}

.text-faixa2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-faixa2 h1{
 font-size: 60px;
 font-weight: 700;
}

.container-info1{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-info1 img{
    width: 700px;
}

.card-info{
    width: 600px;
    background: #f5f5f5;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 15px 20px -5px #00000070;
}


.card-info h1{
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    color:  #636e72;
}

/* SHOWCASE - Fim do texto */


/* Começo dos cards */

.cardbox {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 80px;
    width: 300px;
    height: 500px;
    background: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0px 15px 15px -5px #000000bd;
    overflow: hidden;
    position: relative;
    padding: 0 20px;
    transition: 0.2s linear;
}

.card h1{
    font-family: sans-serif;
    /* margin: 10% 30%; */
    color: #636e72;
}

.card:hover {
    transform: scale(1.05);
}

.card::before {
    content: "";
    position: absolute;
    width: 900px;
    height: 900px;
    background:  #636e72;
    transform: rotate(45deg);
    right: -12%;
    top: 110%;
}

.card:hover::before {
    animation: cards 0.7s 1;
    top: -85%;
    right: -150%;
    transition: 0.4s linear;
}

