*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container{
    width: 50%;
    margin: auto;
    overflow: hidden;
    border: black 5px solid;

}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
}

/* img{
    width: 100%;
} */

