.header{
    display: flex;
    width: 100%;
    background: rgba(7,7,7,0.200);
    height: 60px;
    position: fixed;
    align-items: center;
    transition: 500ms;
    /* border-bottom: #0d64ab 2px solid; */
}

.header:hover{
  transition: 500ms;
  color: ;
  background: rgba(7,7,7,0.97);
}

.header .nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
.header .nav a{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1%;
  width: 100px;
  height: 50px;
  border-bottom:#fff solid 2px;
}
.header .nav a{
  color: #fff;
  transition: 600ms;

}
.header i{
padding: 0 5px;
}

.header .nav a:hover{
  transition: 500ms;
  background: #0d64ab;
  color: #fff;
}

.header a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .header .login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header .login a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     width: 260px;
     height: 100%;
     color: #fff;
     font-size: 13px;
     transition: 600ms;
  }

  .header .login a:hover{
    transition: 500ms;
    color: rgba(45, 52, 54,0.900);
  }

  .header .login i{
    font-size: 35px;
  }

  .header div span{
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 35px;
    height: 80px;
    width: 260px
  }

  .header .login span{
    font-size: 13px;
  }