/* INICIO CAROUSEL PRINCIPAL  */
.carousel{
    width: 100%;
    height: 700px;
    background: url('../img/img11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: #fff;
}

.container-carousel h1{
    text-transform: uppercase;
    font-size: 90px !important;
}

.container-carousel div{
    /* background: red; */
    width: 150px;
    height: 30px;
}

.container-carousel div p{
font-size: 25px;
}


/* FIM CAROUSEL PRINCIPAL  */

/* INICIO CAROUSEL PARTIDAS DA RODADA */
.container-rodadas{
 display: flex;   
 flex-direction: column; 
  align-items: center; 
 width: 100%;
 /* height: 600px; */
}
.container-video video{
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  /* .container-video {
      width: 100%;
      height: 1000px;
  } */

.container-rodadas h1{
font-weight: 700;
 text-transform: uppercase;
 font-size: 40px;
 padding: 30px 0;
 color: #2f3542; 
}

.carousel-rodadas{
 display: flex; 
 justify-content: center; 
 /* height: 340px; */
 width: 100%;
}
.card-rodadas img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.card-rodadas{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    border: solid 0.1px #fff;
    width: 378px; 
    height: 230px;
}
.card-rodadas img:hover{ 
transform: scale(1.1);
/* opacity: 0; */
}

.text-item {
    position: absolute;
    font-weight: 800;

}

.text-item h2{
    color: #fff;
}


.btn-padrao{
    text-transform: uppercase;
    cursor: pointer;
    border:none;
    background: #0984e3;
    color: #fff;
    transition: 500ms;
}

.btn-padrao:hover{
background: transparent;
border: #0984e3 2px solid;
color: #0984e3;
}

.container-rodadas button{
    border-radius: 50px;
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
}

/* FIM CAROUSEL PARTIDAS DA RODADA */

/* <!-- INICIO NOTICIAS --> */
.container-noticias{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    color:#2f3542;
    /* background:rgba(241, 242, 246,1.0); */
}

 .times-noticias{
    display: flex;
    border-top: #2f3542 2px solid;

}

.container-noticias h1{
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.container-noticias .times-noticias li{
  display: flex;
  justify-content: center;
  font-weight: 600;
  width: 155px;
  list-style: none;
  margin: 0 1%;
}

.container-noticias .times-noticias li a{
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.container-cards-noticias{
    margin-top: 50px;
    display: grid;
    width: 100%;
    height: 700px;
    justify-content: center;
    column-gap: 20px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(7, 100px);
    background-repeat: no-repeat;
    background-size: cover;
    /* background:rgba(241, 242, 246,1.0); */

}
.container-cards-noticias span{
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}
.container-cards-noticias div{
    font-size: 20px;
    font-weight: 700;
}
.container-cards-noticias img{
    width: 100% !important;
    height: 100%;
    
}
.container-cards-noticias .noticias-img-1{
    grid-row: span 2;
}

.container-cards-noticias .noticias-text-span2{
    display: grid;
    align-content: center;
    grid-row: span 2;
}

.container-cards-noticias .noticias-text-span{
 display: grid;
 align-items: start;
 grid-column: span 4;
}

.noticias-img-destaque{
    grid-column: span 2;
    grid-row: span 4;
    width: 500px !important;
}

.container-cards-noticias .noticias-img-2{
  grid-row: span 2;
}
/* <!-- INICIO NOTICIAS --> */


/* INICIO CONTAINER CADASTRO */
.container-cadastro{
 display: flex;  
 flex-direction: column;
 justify-content: center; 
 align-items: center;
 margin-top: 41%;
 margin-bottom: 2%;
 width: 100%;
 height: 520px;
 background:rgba(241, 242, 246,1.0);
}

.container-cadastro form{
    display: flex;
    /* background: red; */
    flex-direction: row; 
     justify-content: center;
    align-items: center;

     /* width: 1000px;
     height: 40px; */
}

.container-cadastro form input{
    width: 200px;
    height: 25px;
    font-size: 15px;
    color: #fff;
    background: #000;
    border: #fff 1px solid;
    padding: 10px;
}

.container-cadastro input::placeholder{
    color: #ffffff;
    font-weight: 600;

   /* text-align: center; */
}

.container-cadastro form label{
    margin: 10px 0 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.container-cadastro form h1{
    color: #fff;
    padding: 0;
}
.container-cadastro form button{
    font-size: 14px;
    border-radius: 20px;
    font-weight: 500;
    width: 200px;
    height: 40px;
}

.btn-cadastrar{
 background: #fff;
 cursor: pointer;
}

.btn-cadastrar::hover{
 background: #000 !important;
}



/* .container-cadastro div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100px;
    text-transform: uppercase;
} */

.container-cadastro .box-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 100%;
}
.container-cadastro .box-titulo h1{
    height: 100px;
}

.container-cadastro .box-cadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}


/* FIM CONTAINER CADASTRO */