/* INICIO CAROUSEL PRINCIPAL  */
.carousel{
    width: 100%;
    height: 700px;
    background: url('../img/img11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.text-container{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px px;
    width: 100%;
    height: 300px;
    color: #fff;
   
}

.text-container h1{
    text-transform: uppercase;
}

.text-container p{
    width: 700px;
}
.carousel .container-carousel img{
 padding: 0;
 margin: 0;
 width: 700px;
 height: 600px;
}
.container-img-avatar{
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    width: 1400px;
    height: 100%;
}
/* FIM CAROUSEL PRINCIPAL  */

/* INICIO CAROUSEL PARTIDAS DA RODADA */
.container-rodadas{
 display: flex;   
 flex-direction: column; 
  align-items: center; 
 width: 100%;
 height: 600px;
}

.container-rodadas h1{
font-weight: 700;
 text-transform: uppercase;
 font-size: 40px;
 padding: 30px 0;
 color: #2f3542; 
}

.container-rodadas .carousel-rodadas{
 display: flex; 
 justify-content: center; 
 height: 340px;
 width: 100%;
}

.container-rodadas img{
    width: 350px;
    height: 230px;
}

.container-rodadas .card-rodadas{
    margin: 0% 1%;
    width: 365px; 
    height: 300px;
}

.container-rodadas .card-rodadas p{
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: #2f3542;
}
.btn-padrao{
    text-transform: uppercase;
    cursor: pointer;
    border:none;
    background: #0984e3;
    color: #fff;
    transition: 500ms;
}

.btn-padrao:hover{
background: transparent;
border: #0984e3 2px solid;
color: #0984e3;
}

.container-rodadas button{
    border-radius: 50px;
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
}

/* FIM CAROUSEL PARTIDAS DA RODADA */

/* <!-- INICIO NOTICIAS --> */
.container-noticias{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    color:#2f3542;
    background:rgba(241, 242, 246,1.0);
}

 .times-noticias{
    display: flex;
    border-top: #2f3542 2px solid;

}

.container-noticias h1{
    font-size: 40px;
    text-transform: uppercase;
    color: #0984e3;
}

.container-noticias .times-noticias li{
  display: flex;
  justify-content: center;
  font-weight: 600;
  width: 155px;
  list-style: none;
  margin: 0 1%;
}

.container-noticias .times-noticias li a{
  font-size: 20px;
  text-decoration: none;
  color: #0984e3;
}

.container-cards-noticias{
    margin-top: 50px;
    display: grid;
    width: 100%;
    height: 700px;
    justify-content: center;
    column-gap: 20px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(7, 100px);
    background-repeat: no-repeat;
    background-size: cover;
    background:rgba(241, 242, 246,1.0);

}
.container-cards-noticias span{
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}
.container-cards-noticias div{
    font-size: 20px;
    font-weight: 700;
}
.container-cards-noticias img{
    width: 100% !important;
    height: 100%;
    
}
.container-cards-noticias .noticias-img-1{
    grid-row: span 2;
}

.container-cards-noticias .noticias-text-span2{
    display: grid;
    align-content: center;
    grid-row: span 2;
}

.container-cards-noticias .noticias-text-span{
 display: grid;
 align-items: start;
 grid-column: span 4;
}

.noticias-img-destaque{
    grid-column: span 2;
    grid-row: span 4;
    width: 500px !important;
}

.container-cards-noticias .noticias-img-2{
  grid-row: span 2;
}
/* <!-- INICIO NOTICIAS --> */


/* INICIO CONTAINER CADASTRO */
.container-cadastro{
 display: flex;  
 flex-direction: column;
 justify-content: center; 
 align-items: center;
 margin-top: 41%;
 margin-bottom: 2%;
 width: 100%;
 height: 520px;
 background-repeat: no-repeat;
 background-size: cover;
}

.container-cadastro form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    background: rgba(0,0,5,0.8);
}

.container-cadastro form input{
    width: 300px;
}

.container-cadastro form label{
    margin: 10px 0 0 0;
    color: #0984e3;
    font-size: 18px;
    font-weight: 600;
}

.container-cadastro form h1{
    color: #fff;
    padding: 0;
}

.container-cadastro form button{
    margin: 13px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    width: 200px;
    height: 30px;
}

/* .container-cadastro div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100px;
    text-transform: uppercase;
} */

.container-cadastro .box-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 100%;
}
.container-cadastro .box-titulo h1{
    height: 100px;
}

.container-cadastro .box-cadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}


/* FIM CONTAINER CADASTRO */