<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-5.14.0-web/css/all.min.css">
    <script src="../plugins/bootstrap-4.5.2-dist/js/jquery-3.5.1.slim.min.js"></script>
    <title></title>
</head>

<body>
    <div class="flex-dashboard">
        <div class="sidebar">
            <div class="sidebar-title">
                <img src="../images/img-coracao.png" alt="">
                <h2>Healt Track</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="far fa-chart-bar"></i>
                        <a href="dashboard.html">Dashboar </a>
                    </li>
                    <li>
                        <i class="fas fa-user-circle"></i>
                        <a href="perfil.html">Perfil </a>
                    </li>
                    <li>
                        <i class="fas fa-weight"></i>
                        <a href="gerenciar-peso.html">Gerenciar Peso e Altura </a>
                    </li>
                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="gerenciar-pressao.html">Gerenciar Pressão Arterial </a>
                    </li>
                    <li>
                        <i class="fas fa-dumbbell"></i>
                        <a href="gerenciar-atividades.html"> Gerenciar Atividades Físicas </a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="gerenciar-alimentos.html">Gerenciar Alimentos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="calcular-imc.html">Cálculo de IMC</a>
                    </li>
                </ul>
            </div>
        </div>
        <main>
            <header>
                <a href="dashboard.html">Dashboard <i class="fas fa-chart-bar"></i></a>
                <a href="../index.html">Logout <i class="fas fa-sign-out-alt"></i></a>
            </header>
            <div class="main-content">
                <div class="main-content-title"><h2>Gerenciar Peso e Altura</h2></div>
                <div class="panel-row">
                    <button class="panel panel-50" a-view="cadastrarPeso" onclick="fetchContent(this)" a-folder="peso">
                        <i class="fas fa-plus-circle"></i>
                        Cadastrar Peso
                    </button>
                    <button class="panel panel-50" a-view="visualizarPeso" onclick="fetchContent(this)" a-folder="peso">
                        <i class="fas fa-plus-circle"></i>
                        <i class="fas fa-border-all"></i>
                        Visualizar Peso
                    </button>
                </div>
                <div class="content" id="ajax-content"></div>
            </div>
        </main>
    </div>
    <script src="../plugins/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome-free-5.14.0-web/js/all.min.js"></script>
    <script src="../js/ajax.js"></script>

</body>

</html>