<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-5.14.0-web/css/all.min.css">
    <title></title>
</head>

<body>
    <div class="flex-dashboard">
        <div id="sidebar1" class="sidebar">
            <div class="sidebar-title">
                <img src="../images/img-coracao.png" alt="">
                <h2>Healt Track</h2>
            </div>
            <div class="menu">
                <ul>
                    <li class="selected">
                        <i class="far fa-chart-bar"></i>
                        <a href="dashboard.html">Dashboar </a>
                    </li>
                    <li>
                        <i class="fas fa-user-circle"></i>
                        <a href="perfil.html">Perfil </a>
                    </li>
                    <li>
                        <i class="fas fa-weight"></i>
                        <a href="gerenciar-peso.html">Gerenciar Peso e Altura </a>
                    </li>
                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="gerenciar-pressao.html">Gerenciar Pressão Arterial </a>
                    </li>
                    <li>
                        <i class="fas fa-dumbbell"></i>
                        <a href="gerenciar-atividades.html"> Gerenciar Atividades Físicas </a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="gerenciar-alimentos.html"">Gerenciar Alimentos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="calcular-imc.html">Cálculo de IMC</a>
                    </li>
                    <li class="sidebar-logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <a href="../index.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <main id="mainContent">
            <header>
                <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
                <a href="../index.html">Logout<i class="fas fa-sign-out-alt"></i></a>
            </header>
            <div class="main-content"> 
             <div class="main-content-title">
                 <h2>DASHBOARD</h2>
             </div>
              <div class="dashboard-content">
                 <div class="dashboard-flex-parent">
                     <div class="dashboard-box">
                      <div class="dashboard-box-wrapper">
                        <div class="box-icon box-weight">
                            <i class="fas fa-weight"></i>
                          </div>
                          <div class="value">80kg</div>
                          <div class="type">PESO</div>
                            <div class="box-value-percentual box-value-weight">
                                <i class="fas fa-arrow-circle-up"></i>
                                10%
                            </div>
                      </div>
                     </div>
                     <div class="dashboard-box">
                        <div class="dashboard-box-wrapper">
                        <div class="box-icon box-pressure ">
                            <i class="fas fa-heartbeat"></i>
                          </div>
                          <div class="value">23MMHC</div>
                          <div class="type">PRESSÃO ARTERIAL</div>
                          <div class="box-value-percentual box-value-pressure">
                            <i class="fas fa-arrow-circle-up"></i>
                            10%
                        </div>
                    </div>
                    </div>
                    <div class="dashboard-box">
                        <div class="dashboard-box-wrapper">
                        <div class="box-icon  box-imc ">
                            <i class="fas fa-calculator"></i>
                          </div>
                          <div class="value">19,5</div>
                          <div class="type">IMC</div>
                          <div class="box-value-percentual box-value-imc">
                            <i class="fas fa-arrow-circle-up"></i>
                            10%
                        </div>
                    </div>
                    </div>
                    <div class="dashboard-box">
                        <div class="dashboard-box-wrapper">
                        <div class="box-icon  box-workout ">
                            <i class="fas fa-biking"></i>
                          </div>
                          <div class="value">BICICLETA</div>
                          <div class="type">ATIVIDADE FÍSICA</div>
                          <div class="box-value-percentual box-value-workout">
                            <i class="fas fa-calendar-alt"></i>
                            <span>24/06/2018</span>
                        </div>
                    </div>
                    </div>
                 </div>
              </div>
            </div>
        </main>
    </div>
    <script src="../plugins/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome-free-5.14.0-web/js/all.min.js"></script>
    <script src="../js/menu.js"></script>
</body>

</html>