<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-5.14.0-web/css/all.min.css">
    <title>Pagina de Cadastro</title>
</head>
<body>
<div class="register-parent">
    <div class="register">
        <div class="register-title">
            <img src="../images/img-coracao.png" alt="">
            <h2>Health Track</h2>
        </div>
        <form>
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" class="form-control" id="name"  placeholder="Nome Completo">
            </div>
            <div class="form-group">
                <label for="age">Idade</label>
                <input type="text" class="form-control" id="age"  placeholder="Idade">
            </div>
            <div class="form-group">
                <label for="genre">Gênero</label>
                <select class="form-control" id="genre">
                    <option>Masculino</option>
                    <option>Feminino</option>
                  </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </form>
    </div>
</div>    
    <script src="../plugins/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome-free-5.14.0-web/js/all.min.js"></script>
</body>
</html>